# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/

# Data files
data/raw/
data/interim/
data/processed/

# OS files
.DS_Store
Thumbs.db02-sql-analytics/data/processed/*.db
